10-Java EE/labs/labSolutions/Application_10_Solution/Model/src/response.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.example.org"
            targetNamespace="http://www.example.org"
            elementFormDefault="qualified">
  <xsd:complexType name="output">
        <xsd:sequence>
            <xsd:element name="arg0" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="response" type="tns:output"/>
</xsd:schema>
